<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/style.css">

<div class="flex-container">
    <div class="container">
        <h1>Travel Cost Log</h1>
        <p class="lead">A free travel-cost logging service! </p>
        <form method="POST" action='/signin'>
            <input type="text" name="email" class="form" placeholder="Sign in with email"><br>
            <input type="password" name="password" class="form" placeholder="Password">
            <button>Sign in</button>
        </form><br>
        <p>New to TCL?</p>
        <form method="get" action="/register">
            <input type="submit" value="Sign Up Now">
        </form>
    </div>
        
</div>