<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/style.css">

<div class="flex-container">
    <div class="container">
        <h1>Sign Up</h1>
        <p class="lead">Please fill the following sections and click "Submit" to finish your registry. </p>
        <form method="POST" action='/registered'>
            <input type="text" name="username" class="form" placeholder="Name"><br>
            <input type="text" name="email" class="form" placeholder="Email"><br>
            <input type="password" name="password" class="form" placeholder="Password"><br>
            <p>Your gender?</p><br>
            <input type="radio" name="gender" value="M">Male<br>
            <input type="radio" name="gender" value="F">Female<br>
            <input type="text" name="company" class="form" placeholder="The name of your company"><br>
            <button>Submit</button>
        </form>
    </div>
        
</div>
