  　　<head>
　　　　　　<title>Successful Registered!</title>
　　　　　　<meta http-equiv="refresh" content="5;url=http://steinsgate.gq:8080">
　　　　</head>
　　<body>
      <h1>Your email address and password are not matched! Sign in Failed! We will send you back to main page after 5 seconds!</h1>
　　</body>
